PySide6>=6.6.1
yt-dlp>=2025.01.01
demucs-infer>=4.0.0
torch>=2.4.0
torchaudio>=2.4.0
sounddevice>=0.4.6
numpy>=1.26.0
librosa>=0.10.1
fastapi>=0.104.1
uvicorn>=0.24.0
python-multipart>=0.0.6
SQLAlchemy>=2.0.23
pydub>=0.25.1
soundfile>=0.12.1
requests>=2.31.0
matplotlib>=3.8.2
# Demucs Dependencies
einops>=0.7.0
julius>=0.2.7
openunmix>=1.3.0
omegaconf>=2.3.0
tqdm>=4.66.1
torchcodec
